.Form {
    padding: 15px;
  }
  
  .type-city {
    border-radius: 5px;
    border-right-color: #fee140;
    border-top: #fee140;
    border-left-color: #fa709a;
    border-bottom-color: #fa709a;
  }
  
  .click-search {
    background-color: white;
    border-radius: 15px;
    border: solid 2px orange;
  }
  
  .here-search {
    background-color: white;
    opacity: 70%;
    border-radius: 15px;
    border: solid 2px rgb(245, 185, 73);
  }
  